<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ChatApplication.chatapppro">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Messenger">
        <activity android:name="com.ChatApplication.chatapppro.ViewProfileActivity"
            tools:ignore="Instantiatable" />
        <activity android:name="com.ChatApplication.chatapppro.StartActivity" android:windowSoftInputMode="stateAlwaysHidden">


    </activity>

        <activity android:name="com.ChatApplication.chatapppro.RegisterActivity" android:windowSoftInputMode="stateAlwaysHidden" android:parentActivityName="com.ChatApplication.chatapppro.StartActivity"/>

        <activity android:name="com.ChatApplication.chatapppro.MainActivity"/>

        <activity android:name="com.ChatApplication.chatapppro.LoginActivity" android:windowSoftInputMode="stateAlwaysHidden" android:parentActivityName="com.ChatApplication.chatapppro.StartActivity">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

        <activity android:name="com.ChatApplication.chatapppro.MessageActivity"/>

        <activity android:name="com.ChatApplication.chatapppro.ResetPasswordActivity" android:windowSoftInputMode="stateAlwaysHidden" android:parentActivityName="com.ChatApplication.chatapppro.LoginActivity"/>


        <service android:name="com.ChatApplication.chatapppro.Notifications.MyFirebaseIdService" android:exported="true" android:enabled="true"
            tools:ignore="Instantiatable">


        <intent-filter>

        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>

    </intent-filter>

    </service>


        <service android:name="com.ChatApplication.chatapppro.Notifications.MyFirebaseMessaging" android:exported="true" android:enabled="true">


        <intent-filter>

        <action android:name="com.google.firebase.MESSAGING_EVENT"/>

    </intent-filter>

    </service>
        <!-- FirebaseInstanceIdService performs security checks at runtime,
      no need for explicit permissions despite exported="true"             -->

    </application>

</manifest>